[data-md-color-scheme="slate"] {
  --md-accent-fg-color: var(--md-primary-fg-color);
}

[data-md-color-scheme="default"] {
  --md-accent-fg-color: var(--md-primary-fg-color);
}

code {
  font-feature-settings: "calt" 1;
}

a.headerlink {
  user-select: none;
}

h1:first-child > a.headerlink {
  display: none !important;
}

.md-typeset {
  h1 {
    &:has(code) {
      opacity: 1;
      code {
        font-size: 0.7em;
        background: none;
        padding: 0;
        .kn,
        .o {
          color: var(--md-default-fg-color--lighter);
          @media (max-width: 60em) {
            display: none;
          }
        }
      }
    }
  }
  .doc {
    font-family: var(--md-code-font-family);
  }
  .autorefs-external {
    &:not(pre &) {
      color: var(--doc-symbol-class-fg-color);
    }
    code &:hover {
      color: var(--doc-symbol-class-fg-color);
    }
  }
}
